<h1>Add Order</h1>
<form method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Order Status:</label>
        <input type="text" class="form-control" placeholder="Enter order name" name="OrderStatus">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Order Date:</label>
        <input type="text" class="form-control" placeholder="Enter OrderDate" name="OrderDate">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Delivery Date:</label>
        <input type="text" class="form-control" placeholder="Enter DeliveryDate" name="DeliveryDate">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Instrument Id:</label>
        <input type="text" class="form-control" placeholder="Enter order name" name="instrumentId">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
